/* .top {
    height: 40px;
    
    font-size: 12px;
    border-bottom: 1px solid #000;

    .fl,
    .fr {
        margin-top: 10px;
    }
}

.top_g {
    height: 50px;
    line-height:50px;
    border-bottom: 1px solid #000;
    
    .topl{
        display:flex;
        justify-content:space-between;
        .l{
            span:first-child{
                display:inline-block;
                width: 18px;
                height: 16px;
                // margin-top:5px;
                background-image: url(../images/gq.png);
            }
        }
    }
}

// logo部分
.logo_S {

    .logo {
        padding-bottom: 25px;
        height: 145px;

        .logo_Z {
            width: 214px;
            margin: 0 auto;

            padding: 26px 0;
        }
    }
}

//导航部分
.nav {
    .nav_X {
        lu {
            display: flex;
            // justify-content: center;

            li {
                float: left;
                flex: 10;
                // padding: 0 22px;
            }
        }
    }

    // .fr{
    //     right:148px;
    //     input{
    //         width: 148px;
    //         height: 48px;
    //         background-color: #f6f6f6;
    //     }
    // }
}
 */
.shopping {
  margin-top: 50px;
  margin-bottom: 50px;
}
.shopping .zy {
  position: relative;
  display: flex;
  justify-content: center;
}
.shopping .zy .fh {
  position: absolute;
  left: 2px;
}
.shopping .zy .you {
  text-align: center;
}
.shopping .zy .you span {
  color: #707070;
}
.h3_n {
  height: 65px;
  text-align: center;
}
.shopping_Y {
  display: flex;
}
.shopping_Y .leftL {
  flex: 66%;
}
.shopping_Y .leftL .car li {
  padding: 25px 0 80px;
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid #7d7d80;
  justify-content: space-between;
}
.shopping_Y .leftL .car li .ima {
  width: 30%;
  margin: 0 auto;
}
.shopping_Y .leftL .car li .ima img {
  width: 100%;
}
.shopping_Y .leftL .car li .details {
  width: 60%;
  margin: 0 auto;
}
.shopping_Y .leftL .car li .details .details_T {
  position: relative;
  margin-bottom: 28px;
}
.shopping_Y .leftL .car li .details .details_T p:first-child {
  width: 80%;
  /* 超出文字隐藏 */
  overflow: hidden;
  /* 将溢出的文字设置为省略号显示 */
  text-overflow: ellipsis;
  /* 设置要显示多少行 */
  -webkit-line-clamp: 2;
  /*文字显示方式 */
  -webkit-box-orient: vertical;
  /* 弹性盒子 */
  display: -webkit-box;
}
.shopping_Y .leftL .car li .details .details_T .xiaodj {
  position: absolute;
  top: 0;
  right: 0;
}
.shopping_Y .leftL .car li .details .details_T P:nth-child(3),
.shopping_Y .leftL .car li .details .details_T P:nth-child(4) {
  color: #636363;
}
.shopping_Y .leftL .car li .details .details_B {
  font-size: 36px;
  display: flex;
}
.shopping_Y .leftL .car li .details .details_B .details_L {
  box-sizing: border-box;
  display: flex;
  width: 50%;
  padding-top: 10px;
  height: 63px;
  border: 1px solid #b8b7b6;
  background-color: #f6f6f6;
}
.shopping_Y .leftL .car li .details .details_B .details_L div {
  flex: 33%;
  box-sizing: border-box;
  text-align: center;
}
.shopping_Y .leftL .car li .details .details_B .details_R {
  width: 50%;
  text-align: right;
}
.shopping_Y .leftL .car li .details .details_B .details_R i {
  box-sizing: border-box;
  display: inline-block;
  border-top: 1px solid #b8b7b6;
  border-bottom: 1px solid #b8b7b6;
  text-align: center;
  font-size: 30px;
  padding-top: 4px;
  height: 42px;
  width: 42px;
  margin-left: 14px;
}
.present {
  text-align: center;
}
.present .present_img {
  padding: 8px 0;
}
.present .present .p1 {
  padding: 26px 0;
  color: #7d7d80;
}
.present .present .a i:nth-child(2) {
  display: none;
}
.present .present .a_b {
  padding-top: 40px;
  color: #7d7d80;
}
.present .present .a_b .p2 {
  padding-bottom: 20px;
}
.present .dai {
  padding: 60px 0 30px;
}
.present .ka {
  padding-bottom: 18px;
}
.present input {
  width: 25px;
  height: 25px;
  background-color: #fff;
}
.present .ger {
  display: none;
}
.present .ger textarea {
  width: 99.9%;
  height: 120px;
  background-color: #f6f6f6;
}
.present .ger p {
  line-height: 50px;
}
.present .dj {
  border-top: 1px solid #b8b7b6;
  border-bottom: 1px solid #b8b7b6;
  margin-bottom: 120px;
}
.present .dj h4 {
  margin: 40px 0 33px 0;
}
.present .dj .dj_L {
  display: flex;
  margin-bottom: 60px;
}
.present .dj .dj_L input {
  width: 99.4%;
  height: 60px;
  padding-left: 16px;
  border: 1px solid #b8b7b6;
  background-color: #f6f6f6;
  color: #75758a;
  flex: 70%;
}
.present .dj .dj_L a {
  text-align: center;
  flex: 30%;
  height: 62px;
  line-height: 62px;
  background-color: #000;
  color: #fff;
}
.right_jz {
  height: 584px;
  margin-left: 38px;
  flex: 34%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f6f6f6;
}
.right_jz table {
  width: 100%;
}
.right_jz table tr td:nth-child(2) {
  text-align: right;
}
.right_jz .zong {
  margin-top: 46px;
  padding-top: 28px;
  border-top: 1px solid #b8b7b6;
}
.right_jz .jz {
  text-align: center;
  padding: 26px;
}
.right_jz .jz button {
  width: 290px;
  height: 65px;
  background-color: #231161;
  color: #fff;
}
.right_jz .fw h3 {
  text-align: center;
  font-weight: 700;
  height: 20px;
}
.right_jz .fw p {
  font-size: 16px;
  margin-top: 30px;
}
.shoppingH .h2 {
  display: none;
  box-sizing: border-box;
  padding: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.shoppingH .h2 p {
  padding-bottom: 30px;
  color: #18753d;
}
.shoppingH .interest,
.shoppingH .details {
  height: 192px;
}
.shoppingH .interest .interest_h,
.shoppingH .details .interest_h {
  display: flex;
  justify-content: center;
}
.shoppingH .suggest .suggest_h {
  display: flex;
  justify-content: center;
}
.shoppingH .suggest,
.shoppingH .details {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}
.shoppingH .suggest ul,
.shoppingH .details ul {
  position: relative;
  text-align: center;
  width: 2000px;
}
.shoppingH .suggest ul li,
.shoppingH .details ul li {
  float: left;
  width: 316px;
  padding-bottom: 2px;
  border: 1px solid #fff;
}
.shoppingH .suggest ul li img,
.shoppingH .details ul li img {
  width: 100px;
}
.shoppingH .suggest .left,
.shoppingH .details .left {
  position: absolute;
  display: none;
  font-size: 28px;
  top: 80px;
  left: 50px;
}
.shoppingH .suggest .right,
.shoppingH .details .right {
  position: absolute;
  display: none;
  font-size: 28px;
  top: 80px;
  right: 50px;
}
.mm {
  height: 300px;
}
.foot_D {
  display: none;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  height: 140px;
  width: 100%;
  background-color: #f6f6f6;
  border-top: 1px solid#9c9a98;
  padding-top: 40px;
}
.foot_D .w {
  display: flex;
}
.foot_D .w .foot_f {
  flex: 50%;
  padding-left: 10px;
}
.foot_D .w .foot_l {
  flex: 50%;
}
.foot_D .w .foot_l button {
  display: block;
  width: 295px;
  height: 65px;
  background-color: #231161;
  color: #fff;
}
.color {
  background-color: gray !important;
}
@media only screen and (min-width: 1025px) and (max-width: 1469px) {
  .w {
    width: 970px;
    margin: 0 auto;
  }
  .f20 {
    font-size: 18px;
  }
  .f18 {
    font-size: 16px;
  }
  .f16 {
    font-size: 14px;
  }
  .details_L {
    width: 148px !important;
    height: 53px !important;
    padding-top: 5px !important;
  }
  .font {
    height: 37px !important;
    width: 36px !important;
    padding-top: 12px !important;
    margin-left: 37px !important;
  }
  .ger textarea {
    height: 93px !important;
  }
  .dj_L input {
    height: 53px !important;
  }
  .dj_L a {
    height: 55px !important;
    line-height: 55px !important;
  }
  .jz button {
    width: 220px !important;
    height: 55px !important;
  }
  .interest,
  .details {
    height: 192px !important;
  }
  .shoppingH .suggest ul li,
  .shoppingH .details ul li {
    width: 242px;
  }
  .interest {
    height: 188px !important;
  }
  .foot_D {
    height: 130px !important;
    padding-top: 35px;
  }
  .foot_D button {
    width: 222px !important;
    height: 55px !important;
  }
}
.details_R i {
  font-size: 24px !important;
  padding-top: 7px !important;
  margin-top: 4px !important;
  height: 39px !important;
  width: 39px !important;
}
.dj {
  margin-bottom: 90px !important;
}
.left {
  top: 70px !important;
  left: 10px !important;
}
.right {
  top: 70px !important;
  right: 10px !important;
}
.suggest img,
.details img {
  width: 70px;
}
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .w {
    width: 720px;
    margin: 0 auto;
  }
  .f20 {
    font-size: 16px;
  }
  .f18 {
    font-size: 12px;
  }
  .f16 {
    font-size: 12px;
  }
  .fl20 {
    font-size: 14px;
  }
  .left {
    flex: 80% !important;
  }
  .right_jz {
    flex: 20% !important;
  }
  .details_L {
    width: 138px !important;
    height: 38px !important;
    padding-top: 8px !important;
    font-size: 18px !important;
  }
  .font {
    height: 26px !important;
    width: 26px !important;
    padding-top: 4px !important;
    margin-left: 30px !important;
  }
  .ger textarea {
    height: 93px !important;
  }
  .dj_L input {
    height: 53px !important;
  }
  .dj_L a {
    height: 55px !important;
    line-height: 55px !important;
  }
  .right_jz {
    height: 465px !important;
    margin-left: 17px;
  }
  .zong {
    margin-top: 26px !important;
    padding-top: 18px !important;
  }
  .jz button {
    width: 165px !important;
    height: 44px !important;
  }
  .fw p {
    margin-top: 20px !important;
  }
  .interest,
  .details {
    height: 171px !important;
  }
  .details_R i {
    float: left;
  }
  .shoppingH .suggest ul li,
  .shoppingH .details ul li {
    width: 180px;
  }
  .interest {
    height: 169px !important;
  }
  .foot_D {
    height: 115px !important;
    padding-top: 30px !important;
  }
  .foot_D button {
    width: 165px !important;
    height: 40px !important;
  }
  .pName {
    width: 180px !important;
  }
  .details_R i {
    font-size: 18px !important;
    padding-top: 4 px !important;
    height: 32px !important;
    width: 32px !important;
  }
  .dj {
    margin-bottom: 60px !important;
  }
  .shoppingH .left {
    top: 65px !important;
    left: 10px !important;
  }
  .shoppingH .right {
    top: 65px !important;
    right: 10px !important;
  }
  .suggest img,
  .details img {
    width: 80px !important;
  }
}
@media only screen and (max-width: 759px) {
  .w {
    width: 100%;
    margin: 0 auto;
  }
  .f20 {
    font-size: 16px;
  }
  .f18 {
    font-size: 14px;
  }
  .f16 {
    font-size: 14px;
  }
  .f13 {
    font-size: 12px;
  }
  .fl20 {
    font-size: 18px;
  }
  .fl18 {
    font-size: 16px;
  }
  .fl16 {
    font-size: 14px;
  }
  .f15 {
    font-size: 13px;
  }
  .details_L {
    width: 100px !important;
    height: 38px !important;
    padding-top: 8px !important;
    font-size: 18px !important;
  }
  .font {
    height: 26px !important;
    width: 26px !important;
    padding-top: 4px !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
  }
  .ger textarea {
    height: 93px !important;
  }
  .dj_L input {
    height: 53px !important;
  }
  .dj_L a {
    height: 55px !important;
    line-height: 55px !important;
  }
  .right_jz {
    height: 465px !important;
    margin-left: 17px !important;
  }
  .zong {
    margin-top: 26px !important;
    padding-top: 18px !important;
  }
  .jz button {
    width: 165px !important;
    height: 44px !important;
  }
  .fw p {
    margin-top: 20px !important;
  }
  .shopping_Y {
    display: block !important;
  }
  .li {
    display: block !important;
  }
  .xiaodj {
    position: static !important;
  }
  .dj h4 {
    margin: 35px 0 20px !important;
  }
  .li {
    padding-left: 20px !important;
    padding-right: 15px !important;
  }
  .interest,
  .details {
    height: 104px !important;
  }
  .shoppingH .suggest ul li,
  .shoppingH .details ul li {
    width: 180px !important;
    margin-bottom: 2px !important;
  }
  .interest {
    height: 140px !important;
  }
  .foot_D {
    height: 85px !important;
    padding-top: 20px !important;
  }
  .foot_D button {
    width: 174px !important;
    height: 45px !important;
  }
  .right_jz {
    margin-left: 0 !important;
  }
  .shopping_Y {
    box-sizing: border-box;
    padding: 0 10px;
  }
  .details_R i {
    float: left;
  }
  .details_R i {
    font-size: 18px !important;
    height: 30px !important;
    width: 25px !important;
  }
  .dj {
    margin-bottom: 40px !important;
  }
  .right_jz {
    margin-bottom: 10px !important;
  }
  .shoppingH .left {
    display: none !important;
  }
  .shoppingH .right {
    display: none !important;
  }
  .suggest img,
  .details img {
    width: 60px !important;
  }
  .moblie-header {
    display: block !important;
  }
}
