html {
  font-size: 49px;
}
.fh {
  display: block;
  width: 100%;
}
.trg {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.trg .t-left {
  width: 40%;
}
.trg .t-right {
  width: 40%;
}
.t-left ul {
  display: flex;
  justify-content: space-between;
}
.t-left ul li {
  width: 23%;
  box-sizing: border-box;
  text-align: center;
}
.t-left ul li img {
  width: 61px;
  height: 61px;
}
.t-left ul .active {
  border: 1px solid #ccc;
}
.enlarge .enlarge_contain img {
  padding: 10% 0%;
}
.wz {
  width: 100%;
}
.t-right {
  margin-left: 0.40816327rem;
}
.t-right p {
  font-size: 0.36734694rem;
}
.t-right h2 {
  font-size: 0.7755102rem;
  padding-bottom: 0.40816327rem;
}
.t-right .jj {
  width: 100%;
  height: 1.12244898rem;
  line-height: 1.12244898rem;
  width: 3.06122449rem;
  display: flex;
  justify-content: space-around;
  border: 0.02040816rem solid #ccc;
  margin: 0.20408163rem 0;
}
.t-right .jj input {
  text-align: center;
  width: 30%;
  font-size: 0.32653061rem;
}
.t-right .jj .add,
.t-right .jj .reduce {
  font-size: 0.40816327rem;
}
.t-right .chc {
  display: block;
  font-size: 0.28571429rem;
  padding-bottom: 0.30612245rem;
  box-sizing: border-box;
}
.t-right .buy {
  padding: 0.40816327rem 0;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}
.t-right .buy a {
  display: block;
  font-size: 0.32653061rem;
  color: #f0eeee;
  text-align: center;
  width: 4.08163265rem;
  height: 1.12244898rem;
  line-height: 1.12244898rem;
  background: #231161;
}
.t-right .buy a:hover {
  background: #cdc4ee;
}
.t-right .buy .jiaru {
  margin: 0.16326531rem 0;
  background: #6d648f;
}
.t-right .xin {
  width: 0.81632653rem;
  height: 0.81632653rem;
  line-height: 0.81632653rem;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-left: 1.63265306rem;
  margin-top: 0.40816327rem;
}
.jieshuo {
  width: 59%;
  text-align: center;
}
.jieshuo h1 {
  font-size: 0.40816327rem;
}
.jieshuo .ziduo {
  justify-content: center;
  font-size: 0.36734694rem;
  color: #313131;
  margin-top: 0.40816327rem;
}
.shuju {
  margin-top: 0.40816327rem;
  text-align: center;
}
.shuju span {
  font-size: 0.28571429rem;
}
.shuju .sj-yin {
  color: #868282;
  font-size: 0.36734694rem;
  margin: 0.40816327rem 0;
}
.zixun {
  display: block;
  color: #000;
  font-size: 0.28571429rem;
  width: 4.08163265rem;
  height: 1.12244898rem;
  line-height: 1.12244898rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0 auto;
}
.zixun span {
  margin-top: 0.20408163rem;
  font-size: 0.40816327rem;
}
.wy-z {
  margin-top: 2.04081633rem;
}
.lb-t {
  width: 19.3877551rem;
}
.lb-t ul {
  position: relative;
}
.lb-t ul li {
  display: block;
  position: absolute;
}
.rightBox {
  float: left;
  margin-left: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  display: none;
}
.rightBox img {
  position: absolute;
}
/* 小黄盒子 */
